.addDevPage{
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
}

.addDevPageHeading {
  font-size: 32px;
  padding: 50px 30px;
  margin: 0 30px;
  border-bottom: 2px solid #d0cde1;
  margin-bottom: 50px;
}
.addDevPageFooter {
  border-top: 2px solid #d0cde1;
  padding: 50px;
  font-size: 24px;
  position: relative;
  margin: 50px 30px;
}

.addDevPageFooter .btnDev {
  position: absolute;
  right: 0;
  height: 50px;
  width: 175px;
}

.addDevPageFooter button:first-child {
  background-color: #fff;
  border: none;
  right: 200px;
  margin-right: 100px;
}
.addDevPageFooter button:last-child {
  color: #fff;
  background-color: #7c639f;
  margin-right: 20px;
  border-radius: 20px;
  font-size: 24px;
}
.addDevPageFooter button:first-child:hover {
  color: #fff;
  background-color: #7c639f;
  border-radius: 15px;
  transition: 0.3s;
}

.github::after{
  content: ' \002a';
}